<%= simple_form_for(@request, html: {class: "form-horizontal"}) do |f| %>
  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% @request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= f.input :user_id, collection: User.all, label_method: :full_name %> 
<%= f.input :subject %> 
<%= f.input :description %>
<%= f.input :urls %>
<%= f.input :requester %>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
