<div class="page-header">
  <h1>Pending Requests</h1>
</div>

<%= link_to "Create New Request", new_request_path, class: "btn btn-primary" %>

<% @requests.each do |request| %>

<div class="request">
  <strong><%= request.user.full_name %></strong>
  <p><%= request.subject %></p>
  <p><%= request.urls %></p>
    <div class="meta">
      <%= link_to time_ago_in_words(request.created_at) + " ago", request %>
      <span class="admin">
        | <%= link_to "Edit", edit_request_path(request) %> |
         <%= link_to "Delete", request, method: :delete, data: {confirm: "Are you sure you want to delete this request?"} %>
      </span>
    </div>
</div>  
<% end %>  