<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @request.user.full_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @request.description %>
</p>

<p>
  <strong>Urls:</strong>
  <%= @request.urls %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
